<main>
  <header><h1>Connections Score Calculator</h1></header>

  <div class="container">
    <section class="form">
      <form [formGroup]="connectionsForm" (ngSubmit)="onSubmit()">
        <label for="connectionsResult">Results: </label>
        <textarea id="connectionsResult" formControlName="connectionsResult"></textarea>
        <button type="submit">Submit</button>
      </form>
    </section>

    <section class="results">
      @if(results){

      <div>
        @for(guess of results.guesses; track $index){
        <div class="guess-row">
          <div>
            @for(item of guess.guess; track $index){
            <span>{{ item | colorDisplay }}</span>
            }
          </div>
          <div>-</div>
          <div>
            {{ guess.guessValue }}
          </div>
        </div>
        }
      </div>
      <div class="total">Total: {{ results.totalScore }}</div>

      }
    </section>
  </div>
  <footer>
    Build by <a href="https://github.com/worthyd" target="_blank">WorthyD</a> -
    <a href="https://github.com/WorthyD/worthyd-sandbox" target="_blank">Source Code</a> <br /> Not affiliated with New York Times
  </footer>
</main>
