.container {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top:20px;
  > div {
    flex: 1;
  }
  form {
    label {
      display: block;
    }
    textarea {
      width: 90%;
      height: 400px;
      display: block;
    }
  }

  .guess-row {
    display: flex;

  }
}
